*{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    list-style: none;

}

ul, li{
    display: inline-block;
}

body{
    width: 100%;
    background-color: #f5f5f5;
}

.container{
    padding: 0 15px;
    max-width: 800px;
    margin: 0 auto;
    /* background-color: bisque; */
}

header{
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

.header-contents{
    overflow: hidden;
    clear: both;
    line-height: 60px;
}

.header-contents h1{
    float: left;
}

.header-contents nav{
    float: right;
    padding-right: 20px;
}

.header-contents nav ul li{
    margin-left: 20px;
}

.fa-solid{
    vertical-align: middle;
}

#toptitle-style{
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

.main-contents{
    padding-top: 80px;
}

.post-box{
    /* padding: 10px 0; */
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.post-container{
    padding: 0 20px;
}

.post-user{
    padding-top: 20px;
    padding-bottom: 20px;
}

.created-date{
    padding-top: 20px;
}

.post-new-style h2, button{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.section-title{
    padding-bottom: 20px;
}

.post-new-style{
    text-align: center;
}

.post-new-style button{
    margin-top: 20px;
}
